html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  color: #000;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background: #ccc;
  margin: 0;
}

h2 {
  display: block;
  text-align: center;
  margin-bottom: 0;
  margin-top: 2rem;
}

ul {
  display: flex;
  flex-direction: column;
  padding: 0;
}

img {
  width: 5rem;
}

li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:
  padding: 1rem;
  margin: 0;
}

hgroup {
  width: 16rem;
}

h3 {
  margin-top: 0;
  margin-bottom: .5rem;
}

h4 {
  margin: 0;
}

p {
  width: 24rem;
  margin: 0;
}

a {
  background-color: #444;
  color: #fff;
  text-decoration: none;
  padding: .5rem 1rem .6rem;
}
